project.xcworkspace
xcuserdata
*.xccheckout
config.plist
*.swp
.DS_Store
Build
SCGuideView/Images.xcassets/Intro_1.imageset/guide1@2x.png

SCGuideView/Images.xcassets/Intro_3.imageset/guide3@2x.png

SCGuideView/Images.xcassets/guide4.imageset/Contents.json

SCGuideView/Images.xcassets/guide4.imageset/guide4@2x.png

SCGuideView/Images.xcassets/IntroBackground.imageset/Contents.json

SCGuideView/Images.xcassets/IntroBackground.imageset/guideBackground@2x.png

SCGuideView/Images.xcassets/Intro_2.imageset/guide2@2x.png

SCGuideView/Images.xcassets/AppIcon.appiconset/Contents.json

SCGuideView/SCGuideView/SCGuideView.h

SCGuideView/SCGuideView/SCGuideView.m
